<body {
    font-family: Poppins, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #b8e0d4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #809bce;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

nav a.active{
    background-color: #95b8d1;
    color: #fff;
    padding: 5px 10;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    background-color: #b8e0d4;
    margin: 20px 0;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
}

.content {
    flex: 3;
    margin-right: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 3;
    margin-left: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.paragraph-1 {
    font-family: 'Poppins', sans-serif;
    color: #333333;
    background-color: #d6eadf;
    padding: 10px;
}

footer {
    background-color: #809bce;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.banner {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #C095E4;
    padding: 10px 0;
}

.banner span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 75s linear infinite, colorChange 5s infinite;
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(90deg, #fcedf2, #ffd1d4, #ffb7c5, #ffa0c5); 
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes marquee {
    0% { transform: translateX(0, 0); }
    100% { transform: translateX(-100%); }
}

@keyframes colorChange {
    0% { color: #fcedf2; }
    50% { color: #ffd1d4; }
    75% { color: #ffa0c5; }
    100% { color: #ffb7c5;}
}
